.carrossel{
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
.imagens-carrossel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
.slider{
    position: absolute;
    width: 100%;
    opacity: 0;
}
.on{
    opacity: 1;
}
#prev-button, #next-button{
    width: 100px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}